{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'addtocard.css' %}">
</head>
<body>
    
     
      <div class="product-card">
    <img src="https://via.placeholder.com/300x200" alt="Product">

    <h2>Running Shoes</h2>

    <p>Comfortable everyday running shoes.</p>

    <h3>₹1,999</h3>

    <button class="add-cart">Add to Cart 🛒</button>
  </div>


</body>
</html>